<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" beStrictAboutTestsThatDoNotTestAnything="true" bootstrap="tests/bootstrap.php" cacheResult="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="build/coverage.xml"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Integration">
      <directory suffix="Test.php">tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="GUIDED_IMAGE_MODEL" value="GuidedImage"/>
  </php>
  <logging/>
  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <!--  https://docs.phpunit.de/en/11.5/error-handling.html#limiting-issues-to-your-code-->
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Concerns</directory>
    </exclude>
  </source>
</phpunit>
